/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
    width: 1000px;
    margin: 0 auto;
    padding: 5px;
}
/* 表頭樣式 */
.headertop{
    background: rgb(238, 237, 237);
}
.headertop ul{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.headertop ul li{
   margin-right: 10px;
} 
.headertop ul li a{
    text-decoration: none;
    padding: 5px;
}
/* 表頭選單 */
.header{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 42px;
    
}
.header img{
    position: absolute;
    top: -5px;
    left: 15px;
}


.menu > ul{
    display: flex;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 999;
}

.menu a{
    display: block;
    padding: 10px 15px;
    background: rgb(200, 228, 230);
    color: green;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 6px solid white;
}
.dropopen{
    display: none;
    position: absolute;
}

.menu a:hover, .menu a.add{
    border-bottom: 6px solid rgb(26, 190, 95);
}
/* 表頭圖片設定 */
.headerimg{
    margin-top: 15px;
    position: relative;
}
.headerimg img{
    width: 100%;
    height: 450px;
}
.headerimg h1{
    position: absolute;
    top: 180px;
    left: 70px;
    z-index: 999;
    color: white;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
}
/* content 中間選單及燈箱設定 */
.content > ul{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.content >ul >li{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 3px gray;
    border-radius: 5px;
    padding: 10px;
    width: 280px;
}
.content img{
    height: 110px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.content h3{
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
}
.content p{
    text-align: left;
    line-height: 1.5;
}
.content-item li{
    margin-bottom: 10px;
    margin-right: 80px;
} 
.content-item{
    margin-top: 5px;
}
.content-item li{
    list-style-type: decimal;
}
/* table樣式 */
.table{
    width: 950px;
    margin: 0 auto;
    margin-top: 50px;
}
.price{
    width: 950px;
}
.price th,.price td{
    border-top: 1px solid rgb(175, 173, 173);
    border-bottom: 1px solid rgb(161, 161, 161);
    padding: 8px;
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.price th{
    background-color: rgb(228, 225, 225);
    text-align: left;
    font-size: 17px;
    font-weight: 600;
}
.price td{
    font-size: 15px;
    font-weight: 500;
}
h4{
    margin-bottom: 30px;
    text-align: center;
    margin-top: 40px;
    font-size: 26px;
    font-weight: bolder;
}
.txt{
    color: rgb(49, 204, 49);
}
/* form表單樣式 */
.form{
    width: 970px;
    margin: 0 auto;
    background: -webkit-linear-gradient(left,rgb(158, 154, 154),rgb(109, 107, 107));
    margin-top: 50px;
}
h5{
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    color: white;
    padding: 30px 0px;
    line-height: 1.2;
}
.form-container{
    display: flex;
    justify-content: space-between;
}
.b-lattice{
    margin-left: 40px;
    margin-bottom: 20px;
}
.item2{
    margin-right: 50px;
    margin-top: 12px;
}
.txt2{
    color: white;
    font-weight: 500;
    
}
.m-lattice{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 12px;
}
.s-lattice{
    margin-left: 230px;
    margin-top: 5px;
    width: 60px;
}
.s-lattice:hover{
    cursor: pointer;
}
/* 表尾樣式 */
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.footer img{
    margin-left: 30px;
    margin-bottom: 10px;
}
.footer ul{
    margin-right: 40px;
}
.footer ul li{
    margin-bottom: 5px;
    color: red;
    font-size: 16px;
}
.footer a{
    color: red;
    font-size: 16px;
    text-decoration: none;
}
